{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block content %}
<form method = "post">
    {% csrf_token %}
    <input type = "text" name = "username" placeholder = "Username">
    <input type = "password" name = "password" placeholder = "Password">
    <input type = "text" name = "first_name" placeholder = "First Name">
    <input type = "text" name = "last_name" placeholder = "Last Name">
    <input type = "text" name = "github_url" placeholder = "Github URL">
    <input type = "email" name = "email" placeholder = "Email">
    <button type = "submit">Register</button>
    {% endblock %}
</form>