{%  extends 'base.html' %}

 {% block title %}
     Home
 {% endblock %}
 {% block content %}
Welcome to my blog
     <h1>My home page</h1>
     {% if user.is_authenticated %}
     <p>Hello {{ user.username }}</p>
     {% endif %}

<ul>
    {% for category in categories %}
    <li>
    <a href={%  url 'category' category.id %}>
        {{ category.name }}
        <ul>
            {% for post in category.post_set.all %}

            {% endfor %}
        </ul>
      </a>
    </li>
    {% endfor %}
</ul>
  {% endblock %}

